.midleftBarContainer
{
    flex: 8;
    display: flex;

    left: 0;
    margin: 15px 0 0 10px;
    height: 720px;
    width: 100%;
    position: fixed;
    border-radius: 25px;

    /* Background colour for the posting section */
    background: rgba( 0, 57, 166, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
}