.midContainer
{
    display: flex;
    position: fixed;
    width: 100vw;
    height: auto;
    justify-content: space-evenly;
}

.userSection
{
    flex: 8;
    left: 0;
    margin: 15px 10px 10px 15px;
    height: 77vh;
    width: 66%;
    display: block;
    position: fixed;
    border-radius: 25px;
    border:  white solid 3px;

    /* Background colour for friends section */
    background: rgba( 0, 57, 166, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
}

.userActivity
{
    /* User activity section design. */
    display: flex;
    flex-shrink: 30;
    margin: 10px 10px 10px 10px;
    height: 75Vh;
    width: 65vw;
    background-color: black;
    overflow: auto;
}

/* ===========================  Friends component design.   ====================================== */
.friendsSection
{
    /* Friends section main container.*/
    flex: 4;
    right: 0;
    margin: 15px 10px 10px 0;
    height: 77vh;
    width: 30%;
    display: block;
    position: fixed;
    border-radius: 25px;
    border:  white solid 3px;

    /* Background colour for friends section */
    background: rgba( 0, 57, 166, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
}

.friendsSectionTitle
{
    /* Friends container title design.*/
    margin-left: 7%;
    display: block;
}

.hrLine
{
    /* Line above friends card property. */
    margin: 0 10px 0 10px;
    left: 10px;
    height: 5px;
    width: auto;
    border: none;
    background-color: white;
    color: black;
    display: block;
}

.friendsListSection
{
    /* Friends cards container. */
    margin: 10px;
    display: block;
    color: white;
    background-color: black;
    position: sticky;
}

.listSection
{
    /* Friends Card container properties */
    height: 65vh;
    min-height: 60vh;
    max-width: 30vmax;
    width: 29vw;
    color: white;
    display: flex;
    justify-content: center;
    overflow: auto;
    scrollbar-color: white gainsboro ;
    scrollbar-width: auto;
    margin: auto;
}



